:root{
  --PRIMARY_BLUE: #4691FF;
}

@font-face {
  font-family: "Myriad-Pro Light";
  font-weight: normal;
  src: url("assets/MyriadPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Myriad-Pro Regular";
  font-weight: inherit;
  src: url("assets/MYRIADPRO-REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "Myriad-Pro Bold";
  font-weight: inherit;
  src: url("assets/MYRIADPRO-BOLDCOND.OTF") format("opentype");
}

* {
  font-family: "Myriad-Pro Light", "Myriad-Pro Regular", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fff !important;
}

.accountDashboardLink {
  color: #000;
}
.accountDashboardLink:hover{
  color: #000;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.makeStyles-formControl-82 {
  margin: 0 !important;
}

.font-14 {
  font-size: 14px;
}

.font-25 {
  font-size: 25px;
}

.facilityIcon {
  color: #E5C000;
}

.loadsIcon {
  color: #4691FF
}

.display-none {
  display: none !important;
}

.form_bidding .form-group {
  margin-bottom: 0;
}

.dollarInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dollarInput input {
  padding-left: 18px;
  text-align: center;
}

.dollarSign {
  position: absolute;
  content: '$';
  left: 36%;
  z-index: 1;
  display: block;
  padding: 0 8px;
}