:root {
  --PRIMARY_BLUE: #4691FF;
}

@font-face {
  font-family: "Myriad-Pro Light";
  font-weight: normal;
  src: url("assets/MyriadPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "Myriad-Pro Regular";
  font-weight: inherit;
  src: url("assets/MYRIADPRO-REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "Myriad-Pro Bold";
  font-weight: inherit;
  src: url("assets/MYRIADPRO-BOLDCOND.OTF") format("opentype");
}

* {
  font-family: "Myriad-Pro Light", "Myriad-Pro Regular", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #fff !important;
}

.accountDashboardLink {
  color: #000;
}

.accountDashboardLink:hover {
  color: #000;
  text-decoration: none;
}

.App {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.makeStyles-formControl-82 {
  margin: 0 !important;
}

.font-14 {
  font-size: 14px;
}

.font-25 {
  font-size: 25px;
}

.facilityIcon {
  color: #E5C000;
}

.loadsIcon {
  color: #4691FF
}

.display-none {
  display: none !important;
}

.form_bidding .form-group {
  margin-bottom: 0;
}

.dollarInput {
  position: relative;
}

.dollarInput input {
  text-align: center;
}

.dollarSign {
  position: absolute;
  content: '$';
  left: 36%;
  z-index: 1;
  display: block;
  padding: 0 8px;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotateIcon {
  -webkit-animation: rotating 0.5s linear infinite;
  -moz-animation: rotating 0.5s linear infinite;
  -o-animation: rotating 0.5s linear infinite;
  animation: rotating 0.5s linear infinite;
}

.invoiceServiceWrapperGridToPrint {
  display: none;
}

@media print {

  .addServicesInvoice,
  .printInvoice,
  /* .invoiceServiceWrapperGrid, */
  .stack_Uploaders {
    display: none !important;
  }

  .serviceInputField {
    border: none;
  }

  .invoiceServiceWrapperGridToPrint {
    display: inline !important;
  }
}


label {
  margin-bottom: 0 !important;
}

@page {
  size: 21cm 29.7cm;
  margin: 2cm
}


@media print {

  .printArea h1 {
    page-break-after: always;
    page-break-before: always;
  }

  .bucketImageContainer {
    float: none!important;
  }

  .bucketImageContainer > div {
    display: block;
    page-break-after: always!important;
    page-break-before: always!important;
  }

  .printThisFull {
    width: 96%;
    height: 96%;
    object-fit: contain;
  }
}

a:hover {
  color: #fff;
}